button{
    background: transparent;
    border:none;
    outline:none;
  }
  mat-icon{
    color:white;
  }
  .example-spacer{
    flex:1 1 auto;
  }
  .addbtn{
   color:white;
   border: 2px solid blue;
   border-radius: 25%;
   box-shadow: inset;
  }
  .modal-header{
    background-color:#3F51B5;
    color:white;
    }
    .modal-footer{
      background-color: #3F51B5;
      color:white;
    }
    label{
      color: black;
      font-size: 15px;
      padding:10px;

    }
    .text-danger{
      color:red;
      font-size: 15px;
    }
    .aria-label{
      color:black;
    }
    .modal-content{
      background-color: beige;
    }
    .bttn{
      background-color: #3F51B5;
    }
    .container{
      width:300px;
      height:300px;
      margin-left: 400px;
      margin-top: 100px;
    }
    .heading{
      height:40px;
      background-color: rgba(0, 0, 0, 0.1);
      border:none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
   .heading h3{
      text-align: center;
      color:#3F51B5;
      padding:5px;
    }
    